In [ ]:
x=20
if x>10:
  print("x>10")

x>10

In [ ]:
x=20
if x>10:
  print("x>10")
if x<10:
  print("x<10")
if x==10:
    print("x==10")

x>10

In [ ]:
x=int(input("enter the mark"))
if x>10:
  print("pass")
if x<10:
  print("fail")
if x==10:
    print("pass")

enter the mark120
pass

In [ ]:
x=int(input("enter the salary"))
if x>250000:
  print(x*10/10)
if x<=250000:
  print("no tax")

enter the salary260000
260000.0