In [1]:
x=int(input("enter the salary"))
if x>250000:
  print("taxable")
  print(x*x/10)
if x<250000:
  print("no tax")

enter the salary200000
no tax

In [3]:
x=int(input("enter the salary"))
if x>250000:
  print(x-250000)
  print("taxable")
  y=x-250000
  print(y*10/100)
if x<=250000:
  print("no tax")

enter the salary300000
50000
taxable
5000.0